$c-white: #fff;
$c-blue: #0376c3;
$c-black: #000;
$c-grey: #333637;
$c-grey-bright: #858585;
$c-grey-form: rgba(255, 255, 255, 0.5);
$c-blue-transparament: #edf5fb;
$c-white-transparament: rgba(255, 255, 255, 0.2);

$f-size-8: 8px;
$f-size-12: 12px;
$f-size-14: 14px;
$f-size-16: 16px;
$f-size-18: 18px;
$f-size-22: 22px;
$f-size-24: 24px;
$f-size-26: 26px;
$f-size-30: 30px;
$f-size-36: 36px;
$f-size-45: 45px;
$f-size-50: 50px;
$f-size-70: 70px;
$f-size-90: 90px;

$font-logo: "Logo";
$font-avenir: "Avenir";
$font-pier__sans-bold: "PierSans-Bold";
$font-pier__sans-italic: "PierSans-Italic";
$font-pier__sans-black: "PierSans-Black";
$font-pier__sans-black__italic: "PierSans-Black-Italic";
$font-pier__sans-regular: "PierSans-Regular";

$icons:
  "\e900" 1,
  "\e901" 2,
  "\e902" 3,
  "\e903" 4;

$social:
  "\e904" 1,
  "\e906" 2,
  "\e905" 3;
